body {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  margin: 20px;
  text-align: center;
  font-size: 18px;
}

.container {
  height: 150px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

.left,
.center,
.right {
  /* change the height property to min-height */
  height: 75px;
  width: 125px;
  background-color: dodgerblue;
  border: 2px solid lightgrey;
}

#baseline .center {
  height: 100px;
  width: 100px;
  border: 5px solid turquoise;
}

#flexstart {
  /* add a align-items property with a value of flex-start */
}

#flexend {
  /* add a align-items property with a value of flex-end */
}

#center {
  /* add a align-items property with a value of center */
}

#baseline {
  /* add a align-items property with a value of baseline */
}
